.selected{
    background-image: url('./../../assets/images/ball.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.tada-right {
    position: absolute;
    bottom: 5%;
    right: 0;
}
.tada-left {
    position: absolute;
    bottom: 5%;
    left: 0;
    transform: scale(-1, 1);
}